@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button {
  color: blue;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  font-size: 2rem;
}

.rojo {
  color: red;
}

.verde {
  color: green;
}